BOT_TOKEN=123456:your_token
AUCTION_CHAT_ID=-1001234567890
ADMIN_TOPIC_ID=101
INFO_TOPIC_ID=102
AUCTION_TOPIC_ID=103
STATS_TOPIC_ID=104
MY_LOTS_TOPIC_ID=105
ADMIN_USER_IDS=111111111,222222222
BID_STEP=50
DATABASE_PATH=auction.db
